[submodule "Borey-Manangement-User-Frontend"]
	path = Borey-Manangement-User-Frontend
	url = https://github.com/Sakal05/Borey-Management-User.git
[submodule "Borey-Manangement-Company-Frontend"]
	path = Borey-Manangement-Company-Frontend
	url = https://github.com/Sakal05/Borey-Management-Company.git
[submodule "Borey-Manangement-Admin-Frontend"]
	path = Borey-Manangement-Admin-Frontend
	url = https://github.com/Sakal05/Borey-Management-Admin.git
[submodule "Borey-Manangement-API-Backend"]
	path = Borey-Manangement-API-Backend
	url = https://github.com/Sakal05/Borey-Management-API.git
