[submodule "Borey-Management-User-Frontend-Submodule"]
	path = Borey-Management-User-Frontend-Submodule
	url = https://github.com/Sakal05/Borey-Management-User.git
[submodule "Borey-Management-Company-Frontend-Submodule"]
	path = Borey-Management-Company-Frontend-Submodule
	url = https://github.com/Sakal05/Borey-Management-Company.git
[submodule "Borey-Management-Admin-Backend-Submodule"]
	path = Borey-Management-Admin-Backend-Submodule
	url = https://github.com/Sakal05/Borey-Management-Admin.git
[submodule "Borey-Management-API-Laravel-Submodule"]
	path = Borey-Management-API-Laravel-Submodule
	url = https://github.com/Sakal05/Borey-Management-API.git
